<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>rzeszot.pro</title>
		<link rel="stylesheet" type="text/css" href="/styles/impressum.css" />
	</head>
	<body>
		<div>
      <strong>Damian Rzeszot did it!</strong>
      Tomasza Zana 11A
      20-601 Lublin

      NIP: PL8111759927
      REGON: 367381727
      DUNS: 438334565
		</div>
	</body>
</html>
