<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>rzeszot.pro</title>
		<link rel="stylesheet" type="text/css" href="/styles/root.css" />
	</head>
	<body>
		<section>
			<img src="/assets/general/sweet-potatoes.jpg" alt="Image" />
			<div>
				<a href="mailto:contact@rzeszot.pro">contact@rzeszot.pro</a> | <a href="/impressum">impressum</a>
			</div>
		</section>
	</body>
</html>
