* {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: monospace;
}

div {
  width: 250px;
  height: 150px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  white-space: pre-line;
  font-family: monospace;
}

strong {
  font-weight: 500;
}
